@import "SDGothicNeoRound-eMd.scss";
@import "SDGothicNeoRound-gBd.scss";
@import "SDOdongtongBasic.scss";
@import "PoorStory-Regular.scss";
@import "reset.scss";

body {
  width: 100%;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  &.modalOn {
    overflow: hidden !important;
  }
}
.pc {
  .sub-wrap {
    min-height: 100vh;
    box-sizing: border-box;
    background: $gradient;

    .title-wrap {
      position: relative;
      padding-top: 110px;

      h1 {
        font-family: "Sandoll Odongtong", sans-serif;
        margin-top: 80px;
        text-align: center;
        font-size: 80px;
        font-weight: 400;
        line-height: 92px;
        color: #ffffff;
      }

      .sub {
        text-align: center;
        margin: 30px 0 0 0;
        font-size: 26px;
        font-weight: 400;
        line-height: 38px;
        color: #ffffff;
      }

      .mobile & {
        padding: 110px 20px 0;

        h1 {
          margin-top: 60px;
          font-size: 40px;
          line-height: 1.2;
        }

        .sub {
          margin: 10px 0 0 0;
          padding: 0 20px;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    .content {
      padding: 150px 0 200px;

      .inner {
        margin: 0 auto;
        max-width: 1260px;

        .content-wrap {
          h2 {
            text-align: center;
            font-size: 38px;
            font-weight: 400;
            line-height: 62px;
            color: #ffffff;

            .mobile & {
              font-size: 27px;
              line-height: 44px;
            }
          }
        }
      }

      .mobile & {
        padding: 20px 20px 150px;

        .inner {
        }
      }
    }

    &.bubble {
      background: #4835c6;

      .title-wrap {
        width: 100%;
        height: 660px;
        background: $gradient;

        .mobile & {
          height: 470px;

          h1 {
            margin-top: 0;
          }
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 500px;
          background-image: url("~assets/images/commons/sub_bubble.svg");
          background-position: top center;
          background-repeat: repeat-x;
          background-size: 1920px auto;
          transform: translateX(-50%);

          .mobile & {
            top: 70px;
            left: 49.9%;
            height: 462px;
            background-image: url("~assets/images/commons/mobile_sub_bubble.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 101% auto;
          }
        }
      }

      .content {
        background: $gradient;
        padding-top: 0;
      }
    }
  }

  /*transition fade*/
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  /*modal*/
  .faq-modal {
    .modal-container {
      width: 100% !important;
      height: 100% !important;
      background: url("../images/main/faq_bg.jpeg") center no-repeat;
      background-size: cover;
      margin: 0 auto !important;
      max-height: 100vh !important;
      overflow-y: auto;

      .modal-inner {
        max-width: 1260px;
        margin: 0 auto;
        padding: 180px 30px;
        height: auto !important;

        .modal-header {
          .title {
            font-family: "Sandoll Odongtong", sans-serif;
            font-weight: 400;
            color: $black;
            font-size: 80px;
            line-height: 104px;
            text-align: center;
          }
        }

        .modal-body {
          margin-top: 100px;
        }
      }

      .modal-default-button {
        position: fixed;
        top: 80px;
        right: 80px;
      }
    }
  }

  .story-modal {
    .modal-container {
      width: 1000px !important;
      height: 575px !important;
      border-radius: 40px;
      background-image: url("assets/images/main/img_storybook_book.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent !important;
      box-shadow: none !important;
      position: relative;

      .modal-inner {
        padding: 0;
        .story {
          .box {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);

            .left-img {
              opacity: 0;
              width: 400px;
              height: 320px;
              transform: translateX(-50px);
              transition: all 0.5s ease-in-out;
            }

            .txt {
              transition: all 0.5s ease-in-out;
              opacity: 0;
              transform: translateX(50px);
              max-width: 45%;
              margin-left: 50px;
              padding-right: 45px;
              padding-top: 20px;

              h3 {
                font-family: "Sandoll Odongtong", sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
              }

              p {
                font-family: "PoorStory Regular", sans-serif;
                font-weight: 400;
                margin-top: 15px;
                font-size: 20px;
                line-height: 34px;

                &.first {
                  margin-top: 20px;
                }
              }

              &.eng {
                h3 {
                  font-size: 26px;
                  line-height: 36px;
                }

                p {
                  font-size: 20px;
                  line-height: 30px;
                }
              }
            }
          }

          .box {
            &.on {
              .left-img {
                opacity: 1;
                transform: translateX(0px);
              }

              .txt {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }

          .indicator {
            position: absolute;
            top: 53%;
            left: 2px;
            height: 75%;
            transform: translateY(-50%);

            .indi {
              position: relative;
              z-index: 4;
              width: 100%;
              height: 25%;

              img {
                width: auto;
                height: 100%;
              }

              &:nth-child(1) {
                left: 6px;
                z-index: 4;
                top: 0%;
              }

              &:nth-child(2) {
                left: 6px;
                z-index: 3;
                top: -2%;
              }

              &:nth-child(3) {
                left: 6px;
                z-index: 2;
                top: -4%;
              }

              &:nth-child(4) {
                left: 6px;
                z-index: 1;
                top: -6%;
              }
            }
          }

          .arrow {
            width: 100%;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);

            .prev {
              position: absolute;
              left: -100px;
              width: 70px;
              height: 70px;
              background: url("@/assets/images/main/img_storybook_prev_off.png");

              &.on {
                background: url("@/assets/images/main/img_storybook_prev_on.png");
              }
            }

            .next {
              position: absolute;
              right: -100px;
              width: 70px;
              height: 70px;
              background: url("@/assets/images/main/img_storybook_next_off.png");

              &.on {
                background: url("@/assets/images/main/img_storybook_next_on.png");
              }
            }
          }
        }

        .modal-default-button {
          top: 28px;
          right: 10px;
          z-index: 99;
        }
      }
    }
  }

  .road-modal {
    .modal-container {
      width: 640px !important;
      border-radius: 40px;
      position: relative;
      .modal-inner {
        height: auto !important;
        padding: 60px;
        .box {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          .left-img {
            width: 33.5%;
            height: 100%;
          }
          .txt {
            max-width: 45%;
            margin-left: 50px;
            h3 {
              font-size: 3vw;
              line-height: 1.2;
            }
            p {
              margin-top: 20px;
              font-size: 1.5vw;
              line-height: 1.2;
            }
          }
        }
        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;

          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #5f82ff;
          }

          .title {
            margin-top: 10px;
            font-size: 38px;
            line-height: 57px;
            color: $black;
          }
        }

        .modal-body {
          .road-list {
            margin-top: 20px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 20px;
              line-height: 36px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 15px 15px 15px 55px;
            margin-top: 20px;
            font-size: 20px;
            line-height: 36px;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 30px;
              height: 30px;
              top: 18px;
              left: 15px;
              background: url("assets/images/main/belly_icon.svg");
            }
          }
        }

        .modal-default-button {
          position: absolute;
          top: 60px;
          right: 60px;
        }
      }
    }
  }

  .info-modal {
    .modal-container {
      width: 820px !important;
      border-radius: 40px;
      margin: 40px auto 0 !important;
      background-image: url("@/assets/images/main/info_modal_bg.png");
      background-color: #fff;
      background-position: right;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 88px 0 60px 60px;
      .modal-inner {
        position: relative;
        height: 60vh;
        overflow-y: auto;
        padding-right: 60px;
        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;

          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #5f82ff;
          }

          .title {
            margin-top: 10px;
            font-size: 38px;
            line-height: 57px;
            color: $black;
          }
        }

        .modal-body {
          .list-title {
            margin-top: 20px;
            font-size: 20px;
            line-height: 36px;
            font-weight: 700;
          }

          .road-list {
            margin-top: 5px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 20px;
              line-height: 36px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 30px 40px;
            margin-top: 20px;

            strong {
              font-size: 16px;
              line-height: 25px;
              opacity: 0.8;
              position: relative;
              padding-left: 20px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                top: 0;
                left: 0;
                background: url("assets/images/main/notice_ico.svg") center
                  no-repeat;
              }
            }

            .notice-list {
              margin-top: 5px;

              li {
                position: relative;
                font-size: 16px;
                line-height: 25px;
                padding-left: 10px;

                .underline {
                  display: inline-block;
                  font-weight: 700;
                  text-decoration: underline;
                  text-underline-position: under;
                }

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 9px;
                  left: 0;
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  background: $black;
                }

                & + li {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      .modal-default-button {
        position: fixed;
        top: 60px;
        right: 60px;
      }
    }
  }

  .roads {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
