@import "SDGothicNeoRound-eMd.scss";
@import "SDGothicNeoRound-gBd.scss";
@import "SDOdongtongBasic.scss";
@import "PoorStory-Regular.scss";
@import "reset.scss";

body {
  width: 100%;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.pc {
  /*transition fade*/
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  /*modal*/
  .faq-modal {
    .modal-container {
      width: 100% !important;
      height: 100% !important;
      background: url("../images/main/faq_bg.jpeg") center no-repeat;
      background-size: cover;
      margin: 0 auto !important;
      max-height: 100vh !important;
      overflow-y: auto;

      .modal-inner {
        max-width: 1260px;
        margin: 0 auto;
        padding: 180px 30px;
        height: auto !important;

        .modal-header {
          .title {
            font-family: "Sandoll Odongtong", sans-serif;
            font-weight: 400;
            color: $black;
            font-size: 80px;
            line-height: 104px;
            text-align: center;
          }
        }

        .modal-body {
          margin-top: 100px;
        }
      }

      .modal-default-button {
        position: fixed;
        top: 80px;
        right: 80px;
      }
    }
  }
  .story-modal {
    .modal-container {
      width: 1000px !important;
      height: 575px !important;
      border-radius: 40px;
      background-image: url("assets/images/main/img_storybook_book.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent !important;
      box-shadow: none !important;
      position: relative;
      .modal-default-button {
        top: 28px;
        right: 10px;
      }
      .modal-inner {
        padding: 0;
        .story {
          .box {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);

            .left-img {
              opacity: 0;
              width: 400px;
              height: 320px;
              transform: translateX(-50px);
              transition: all 0.5s ease-in-out;
            }

            .txt {
              transition: all 0.5s ease-in-out;
              opacity: 0;
              transform: translateX(50px);
              max-width: 45%;
              margin-left: 50px;
              padding-right: 45px;
              padding-top: 20px;

              h3 {
                font-family: "Sandoll Odongtong", sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
              }

              p {
                font-family: "PoorStory Regular", sans-serif;
                font-weight: 400;
                margin-top: 15px;
                font-size: 20px;
                line-height: 34px;

                &.first {
                  margin-top: 20px;
                }
              }

              &.eng {
                h3 {
                  font-size: 26px;
                  line-height: 36px;
                }

                p {
                  font-size: 20px;
                  line-height: 30px;
                }
              }
            }
          }

          .box {
            &.on {
              .left-img {
                opacity: 1;
                transform: translateX(0px);
              }

              .txt {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }

          .indicator {
            position: absolute;
            top: 53%;
            left: 2px;
            height: 75%;
            transform: translateY(-50%);

            .indi {
              position: relative;
              z-index: 4;
              width: 100%;
              height: 25%;

              img {
                width: auto;
                height: 100%;
              }

              &:nth-child(1) {
                left: 6px;
                z-index: 4;
                top: 0;
              }

              &:nth-child(2) {
                left: 6px;
                z-index: 3;
                top: -2%;
              }

              &:nth-child(3) {
                left: 6px;
                z-index: 2;
                top: -4%;
              }

              &:nth-child(4) {
                left: 6px;
                z-index: 1;
                top: -6%;
              }
            }
          }

          .arrow {
            width: 100%;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);

            .prev {
              position: absolute;
              left: -100px;
              width: 70px;
              height: 70px;
              background: url("@/assets/images/main/img_storybook_prev_off.png");

              &.on {
                background: url("@/assets/images/main/img_storybook_prev_on.png");
              }
            }

            .next {
              position: absolute;
              right: -100px;
              width: 70px;
              height: 70px;
              background: url("@/assets/images/main/img_storybook_next_off.png");

              &.on {
                background: url("@/assets/images/main/img_storybook_next_on.png");
              }
            }
          }
        }
      }
    }
  }
  .road-modal {
    .modal-container {
      width: 640px !important;
      border-radius: 40px;
      position: relative;
      .modal-inner {
        height: auto !important;
        padding: 60px;
        .box {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          .left-img {
            width: 33.5%;
            height: 100%;
          }
          .txt {
            max-width: 45%;
            margin-left: 50px;
            h3 {
              font-size: 3vw;
              line-height: 1.2;
            }
            p {
              margin-top: 20px;
              font-size: 1.5vw;
              line-height: 1.2;
            }
          }
        }
        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;

          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #4944e4;
          }

          .title {
            margin-top: 10px;
            font-size: 38px;
            line-height: 57px;
            color: $black;
          }
        }

        .modal-body {
          .road-list {
            margin-top: 20px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 20px;
              line-height: 36px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 15px 15px 15px 55px;
            margin-top: 20px;
            font-size: 20px;
            line-height: 36px;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 30px;
              height: 30px;
              top: 18px;
              left: 15px;
              background: url("assets/images/main/belly_icon.svg");
            }
          }
        }
      }
    }
  }
  .info-modal {
    .modal-container {
      width: 820px !important;
      border-radius: 40px;
      margin: 40px auto 0 !important;
      background-image: url("@/assets/images/main/info_modal_bg.png");
      background-color: #fff;
      background-position: right;
      background-repeat: no-repeat;
      padding: 88px 0 60px 60px;
      position: relative;
      .modal-inner {
        position: relative;
        height: 60vh;
        overflow-y: auto;
        padding-right: 60px;
        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;

          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #5f82ff;
          }

          .title {
            margin-top: 10px;
            font-size: 38px;
            line-height: 57px;
            color: $black;
          }
        }

        .modal-body {
          .list-title {
            margin-top: 20px;
            font-size: 20px;
            line-height: 36px;
            font-weight: 700;
          }

          .road-list {
            margin-top: 5px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 20px;
              line-height: 36px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 30px 40px;
            margin-top: 20px;

            strong {
              font-size: 16px;
              line-height: 25px;
              opacity: 0.8;
              position: relative;
              padding-left: 20px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                top: 0;
                left: 0;
                background: url("assets/images/main/notice_ico.svg") center
                  no-repeat;
              }
            }

            .notice-list {
              margin-top: 5px;

              li {
                position: relative;
                font-size: 16px;
                line-height: 25px;
                padding-left: 10px;

                .underline {
                  display: inline-block;
                  font-weight: 700;
                  text-decoration: underline;
                  text-underline-position: under;
                }

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 9px;
                  left: 0;
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  background: $black;
                }

                & + li {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .roads {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  /*main*/
  .slide {
    width: 100vw;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    .fp-tableCell {
      position: relative;
      img {
        bottom: 0;
        width: 100%;
        height: auto;
      }
    }
    .contents {
      position: relative;
      transform: translateZ(0);
      width: 100%;
      height: 100%;
      .text-con {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        .item {
          opacity: 0;
          position: absolute;
          width: 22%;
          height: 25%;
          transform: translate(0, -30px);
          transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
          -webkit-transition: opacity 0.4s ease-in-out,
            transform 0.4s ease-in-out;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &.nm1 {
            bottom: 43%;
            left: 18%;
            background: url("@/assets/images/main/cloud_01.png") center
              no-repeat;
            background-size: contain;
          }
          &.nm2 {
            bottom: 59%;
            left: 39%;
            background: url("@/assets/images/main/cloud_02.png") center
              no-repeat;
            background-size: contain;
          }
          &.nm3 {
            bottom: 42%;
            right: 19%;
            background: url("@/assets/images/main/cloud_03.png") center
              no-repeat;
            background-size: contain;
          }
          .sale {
            font-size: 1vw;
            line-height: 1.2;
            color: #555;
          }
          .date {
            font-family: "Sandoll Odongtong", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8vw;
            line-height: 1.3;
            color: $black;
            margin-top: 15px;
            & + .date {
              margin-top: 0;
            }
          }
        }
        .item2 {
          opacity: 0;
          position: absolute;
          width: 20%;
          height: 43%;
          transform: translate(0, -30px);
          transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
          -webkit-transition: opacity 0.4s ease-in-out,
            transform 0.4s ease-in-out;
          color: $white;
          .txt {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            .road {
              font-family: "Sandoll Odongtong", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 1vw;
              line-height: 1.2;
            }
            .title {
              font-family: "Sandoll Odongtong", sans-serif;
              font-style: normal;
              font-weight: 400;
              margin-top: 15px;
              font-size: 2.5vw;
              line-height: 1.2;
            }
            .more {
              display: block;
              font-family: "Sandoll Odongtong", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 1vw;
              line-height: 1.2;
              margin-top: 20px;
              text-decoration: underline;
              text-underline-position: under;
            }
          }
          &.nm1 {
            bottom: 47%;
            left: 35%;
          }
          &.nm2 {
            bottom: 35%;
            left: 18%;
          }
          &.nm3 {
            bottom: 33.5%;
            right: 20.5%;
          }
        }
      }
    }
    &.active {
      .contents {
        .text-con {
          .item2 {
            opacity: 1;
            transform: translate(0, 30px);
            &.nm1 {
              transition-delay: 1.5s;
              -webkit-transition-delay: 1.5s;
              .txt {
                transform: translate(-50%, -59%);
              }
            }
            &.nm2 {
              transition-delay: 1s;
              -webkit-transition-delay: 1s;
            }
            &.nm3 {
              transition-delay: 1.8s;
              -webkit-transition-delay: 1.8s;
              .txt {
                transform: translate(-50%, -49%);
              }
            }
          }
        }
      }
    }
  }
  .active {
    .active {
      .contents {
        .text-con {
          .item {
            opacity: 1;
            transform: translate(0, 30px);
            &.nm1 {
              transition-delay: 1s;
              -webkit-transition-delay: 1s;
            }
            &.nm2 {
              transition-delay: 1.3s;
              -webkit-transition-delay: 1.3s;
            }
            &.nm3 {
              transition-delay: 1.6s;
              -webkit-transition-delay: 1.6s;
            }
          }
        }
      }
    }
  }
  .info-btn {
    position: absolute;
    width: 14%;
    height: 16%;
    bottom: 10%;
    left: 30%;
  }
  .ending {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    .top {
      position: absolute;
      top: 9%;
      right: 6%;
      width: 80%;
      height: auto;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      transform: translateY(23%);
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .txt {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 30%;
      height: auto;
      transform: translateX(-50%);
      img {
        width: 100%;
        object-fit: contain;
      }
      &.eng {
        width: 50%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .second {
    position: relative;
    .sec-cloud {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img {
        object-fit: contain;
      }
    }
  }

  .pdf-btn {
    span {
      display: flex;
      align-items: center;
      font-size: 22px;
      line-height: 37px;
      text-decoration: underline;
      text-underline-position: under;
      color: $black;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }

  .bellyship {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("@/assets/images/main/BELLYSHIP_PC.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .b_top {
      display: block;
      max-width: 1262px;
      margin: 0 auto;
      padding-top: 250px;
    }
    .b_mid {
      margin-top: 200px;
    }
  }
  .nft-wrap {
    position: relative;
    margin-top: 950px;
    .nft-slider {
      .swiper-container {
        .swiper-slide {
          width: 470px !important;
        }
      }
    }
  }
  .loop-text {
    position: relative;
    overflow: hidden;
    background: #4944e4;
    width: calc(100% + 20px);
    --tw: 13rem;
    --ad: 5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(-3deg);
    .text {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(var(--move-none), 0, 0);
      transform: translate3d(var(--move-initial), 0, 0);
      -webkit-animation: marquee 5s linear infinite;
      animation: marquee 5s linear infinite;
      span {
        font-family: "Sandoll Odongtong", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 80px;
        color: #ff9ed8;
        white-space: nowrap;
        text-shadow: var(--tw) 0 currentColor,
          calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor,
          calc(var(--tw) * 4) 0 currentColor, calc(var(--tw) * 5) 0 currentColor,
          calc(var(--tw) * 6) 0 currentColor, calc(var(--tw) * 7) 0 currentColor,
          calc(var(--tw) * 8) 0 currentColor, calc(var(--tw) * 9) 0 currentColor,
          calc(var(--tw) * 10) 0 currentColor;
        will-change: transform;
        -webkit-animation: marquee var(--ad) linear infinite;
        animation: marquee var(--ad) linear infinite;
      }
    }
  }

  .loop-text2 {
    position: absolute;
    top: 125px;
    left: -10px;
    overflow: hidden;
    background: #4944e4;
    width: calc(100% + 20px);
    --tw: 13rem;
    --ad: 5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(8deg);
    .text {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(var(--move-none), 0, 0);
      transform: translate3d(var(--move-initial), 0, 0);
      -webkit-animation: marquee2 5s linear infinite;
      animation: marquee2 5s linear infinite;
      span {
        font-family: "Sandoll Odongtong", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 80px;
        color: #ff9ed8;
        white-space: nowrap;
        text-shadow: var(--tw) 0 currentColor,
          calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor,
          calc(var(--tw) * 4) 0 currentColor, calc(var(--tw) * 5) 0 currentColor,
          calc(var(--tw) * 6) 0 currentColor, calc(var(--tw) * 7) 0 currentColor,
          calc(var(--tw) * 8) 0 currentColor, calc(var(--tw) * 9) 0 currentColor,
          calc(var(--tw) * 10) 0 currentColor;
        will-change: transform;
        -webkit-animation: marquee2 var(--ad) linear infinite;
        animation: marquee2 var(--ad) linear infinite;
        opacity: 0.6;
      }
    }
  }

  .nft-image-loop {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    .image-item {
      -webkit-animation: imageLoop 20s linear infinite;
      animation: imageLoop 20s linear infinite;
      & + .image-item {
        margin-left: 30px;
      }
    }
    .nft-img {
      width: 470px;
      & + .nft-img {
        margin-left: 30px;
      }
    }
  }

  @-webkit-keyframes marquee {
    0% {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes marquee2 {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @-webkit-keyframes imageLoop {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes imageLoop {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  /*.sprite-img {
    display: inline-block;
    width: 311px;
    background-image: url("@/assets/images/main/img_nft_candyboll.png");

    -webkit-animation: play 1s steps(59) infinite;
    -moz-animation: play 1s steps(59) infinite;
    -ms-animation: play 1s steps(59) infinite;
    -o-animation: play 1s steps(59) infinite;
    animation: play 1s steps(59) infinite;

    background-size: 18349px;
  }

  @-webkit-keyframes play {
    from {
      background-position: 0px;
    }
    to {
      background-position: -18349px;
    }
  }

  @-moz-keyframes play {
    from {
      background-position: 0px;
    }
    to {
      background-position: -18349px;
    }
  }

  @-ms-keyframes play {
    from {
      background-position: 0px;
    }
    to {
      background-position: -18349px;
    }
  }

  @-o-keyframes play {
    from {
      background-position: 0px;
    }
    to {
      background-position: -18349px;
    }
  }

  @keyframes play {
    from {
      background-position: 0px;
    }
    to {
      background-position: -18349px;
    }
  }*/

  .partners {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 216px;
    .title {
      margin-top: 200px;
      font-family: "Sandoll Odongtong", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 96px;
      text-align: center;
      color: #ffffff;
    }
    .list {
      max-width: 1280px;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: none;
      margin-top: 60px;
      li {
        flex: 0 0 33.33%;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 60px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &:nth-child(3n) {
          border-right: none;
        }
        img {
          object-fit: cover;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
        }
      }
    }
  }
}

/*animation*/
@keyframes fireworkLine {
  0% {
    right: 20%;
    transform: scale(0, 0);
  }
  25% {
    right: 20%;
    width: 5px;
    transform: scale(1, 1);
  }
  35% {
    right: 0;
    width: 35%;
  }
  70% {
    right: 0;
    width: 3px;
    transform: scale(1, 1);
  }
  100% {
    right: 0;
    transform: scale(0, 0);
  }
}
@keyframes fireworkPoint {
  30% {
    transform: scale(0, 0);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
.firework {
  position: absolute;
  bottom: 18%;
  left: 37%;
  transform: rotate(-90deg);
  z-index: 1;
  .effect-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .effect {
      display: block;
      position: absolute;
      top: 20%;
      left: 50%;
      width: 80px;
      transform-origin: 0 2px;
      transform: rotate(45deg);
      &:nth-child(2) {
        transform: rotate(90deg);
      }
      &:nth-child(3) {
        transform: rotate(270deg);
      }
      &:nth-child(4) {
        transform: rotate(315deg);
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        border-radius: 2px;
        height: 4px;
        background: #fff;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        right: 10%;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #fff;
        transform: scale(0, 0);
      }
    }
  }
}
.effect:before {
  animation: fireworkLine 1.5s linear 1s infinite;
}
.effect:after {
  animation: fireworkPoint 1.5s linear 1s infinite;
}

/*slide 1 pink balloon*/
#pinkballoon {
  width: 129px;
  height: 192px;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 210px;
  transform: rotate(-8deg);
  animation: pinkballoon 3s infinite alternate ease-in-out;
}

@keyframes pinkballoon {
  0% {
    transform: translateY(163px) rotate(16deg);
  }
  100% {
    transform: translateY(183px) rotate(-16deg);
  }
}
