@import "SDGothicNeoRound-eMd.scss";
@import "SDGothicNeoRound-gBd.scss";
@import "SDOdongtongBasic.scss";
@import "PoorStory-Regular.scss";
@import "reset.scss";

body {
  width: 100%;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  &.modalOn {
    overflow: hidden !important;
  }
}
.mobile {
  /*transition fade*/
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .modal-container {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    max-height: 100vh !important;
    overflow-y: auto;
    .modal-inner {
      .modal-body {
        padding: 0 20px 20px;
      }
    }
  }
  /*modal*/
  .faq-modal {
    .modal-container {
      background: url("@/assets/m_images/main/faq_bg.png") top left no-repeat;
      background-size: cover;
      overflow-y: scroll;
      .modal-inner {
        .modal-header {
          .title {
            font-family: "Sandoll Odongtong", sans-serif;
            font-weight: 400;
            color: $black;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            padding-top: 118px;
          }
        }
        .modal-body {
          padding: 0 20px 200px;
          .content-wrap {
            margin-top: 80px;
            .accordion-list {
              .accordion-item {
                .title {
                  padding: 25px 55px 25px 60px;
                  font-size: 16px;
                  line-height: 25px;
                  white-space: initial;
                  &::before {
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    top: 25px;
                    left: 27px;
                    margin: 0;
                    background-size: 100%;
                  }
                  &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    width: 25px;
                    height: 25px;
                    background: url("@/assets/m_images/main/24_arrow.png")
                      no-repeat center center / 25px;
                    will-change: transform;
                    transition: all 0.3s ease-in;
                  }
                  &.active {
                    border-radius: 40px 40px 0 0;
                    &::after {
                      transform: rotate(180deg);
                      top: 35px;
                    }
                  }
                }
              }
              .accordion-content {
                .cont {
                  padding: 0 25px;
                  border-radius: 0 0 40px 40px;
                  will-change: transform;
                  p {
                    padding: 25px 0 25px 35px;
                    font-size: 16px;
                    line-height: 25px;
                    &::before {
                      position: absolute;
                      top: 25px;
                      left: 25px;
                      margin: 0;
                      width: 26px;
                      height: 26px;
                      background-size: 100%;
                    }
                  }
                  .pdf {
                    display: block;
                    margin-top: 10px;
                    margin-left: 0;
                    width: 130px;
                  }
                }
              }
            }
          }
        }
      }

      .modal-default-button {
        position: fixed;
        top: 40px;
        right: 40px;
        z-index: 99;
      }
    }
  }

  .story-modal {
    .modal-container {
      background: #ffb5c5 !important;
      position: absolute;
      top: 0;
      left: 0;
      .modal-inner {
        .modal-header {
          div {
            padding-top: 118px;
            text-align: center;
            font-family: "Sandoll Odongtong", sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 52px;
            color: $white;
          }
        }
        .modal-body {
          padding: 0 20px 20px;
        }
        .story {
          position: relative;
          margin-top: 50px;
          background: #fff7eb;
          border-radius: 30px;
          padding: 85px 20px;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 60px;
            background: url("@/assets/m_images/main/img_storybook_bookspring.png")
              center no-repeat;
          }
          .box {
            .left-img {
              margin-top: 100px;
            }
            &:first-child {
              .left-img {
                margin-top: 0;
              }
            }
            .txt {
              margin-top: 20px;
              h3 {
                font-family: "Sandoll Odongtong", sans-serif;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
              }
              p {
                font-family: "PoorStory Regular", sans-serif;
                font-weight: 400;
                margin-top: 15px;
                font-size: 20px;
                line-height: 34px;

                &.first {
                  margin-top: 20px;
                }
              }

              &.eng {
                h3 {
                  font-size: 26px;
                  line-height: 36px;
                }

                p {
                  font-size: 20px;
                  line-height: 30px;
                }
              }
            }
          }
        }

        .modal-default-button {
          position: fixed;
          z-index: 99;
        }
      }
    }
  }

  .road-modal {
    .modal-container {
      width: 100% !important;
      height: 100% !important;
      position: relative;

      .modal-inner {
        .box {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);

          .left-img {
            width: 33.5%;
            height: 100%;
          }

          .txt {
            max-width: 45%;
            margin-left: 50px;

            h3 {
              font-size: 3vw;
              line-height: 1.2;
            }

            p {
              margin-top: 20px;
              font-size: 1.5vw;
              line-height: 1.2;
            }
          }
        }

        height: auto !important;
        padding: 100px 20px;

        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;

          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #4944e4;
          }

          .title {
            margin-top: 10px;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $black;
          }
        }

        .modal-body {
          padding: 0;
          .road-list {
            margin-top: 20px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 20px;
              line-height: 36px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 15px 15px 15px 55px;
            margin-top: 20px;
            font-size: 20px;
            line-height: 36px;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 30px;
              height: 30px;
              top: 18px;
              left: 15px;
              background: url("assets/images/main/belly_icon.svg");
            }
          }
        }

        .modal-default-button {
          position: absolute;
          top: 60px;
          right: 60px;
        }
      }
    }
  }

  .info-modal {
    .modal-container {
      width: 100% !important;
      height: 100% !important;
      padding: 40px 0 0;
      position: relative;
      background-color: #fff;
      .modal-inner {
        position: relative;
        height: 100%;
        overflow-y: auto;
        padding: 60px 0;

        .modal-header {
          font-family: "Sandoll Odongtong", sans-serif;
          font-weight: 400;
          padding: 0 20px;
          .sub {
            font-size: 18px;
            line-height: 22px;
            margin-top: 28px;
            color: #5f82ff;
          }

          .title {
            margin-top: 10px;
            font-size: 26px;
            line-height: 39px;
            color: $black;
          }
        }

        .modal-body {
          .list-title {
            margin-top: 20px;
            font-size: 16px;
            line-height: 17px;
            font-weight: 700;
          }

          .road-list {
            margin-top: 5px;

            li {
              position: relative;
              padding-left: 10px;
              font-size: 16px;
              line-height: 25px;
              color: $black;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: $black;
              }

              & + li {
                margin-top: 5px;
              }
            }
          }

          .notice {
            display: block;
            position: relative;
            width: 100%;
            background: #f4f4f4;
            border-radius: 20px;
            padding: 20px 20px;
            margin-top: 20px;

            strong {
              font-size: 16px;
              line-height: 25px;
              opacity: 0.8;
              position: relative;
              padding-left: 20px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                top: 0;
                left: 0;
                background: url("assets/images/main/notice_ico.svg") center
                  no-repeat;
              }
            }

            .notice-list {
              margin-top: 5px;

              li {
                position: relative;
                font-size: 16px;
                line-height: 25px;
                padding-left: 10px;

                .underline {
                  display: inline-block;
                  font-weight: 700;
                  text-decoration: underline;
                  text-underline-position: under;
                }

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 9px;
                  left: 0;
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  background: $black;
                }

                & + li {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
