@font-face {
  font-family: "PoorStory Regular";
  font-style: normal;
  font-weight: 400;
  src: local("PoorStory-Regular"),
    url("../fonts/woff/PoorStory-Regular.woff") format("woff"),
    url("../fonts/woff2/PoorStory-Regular.woff2") format("woff2");
}
